.primary-color {
    color: #002768;
}
.primary-color:hover {
    color: #001f4d;
}
.primary-color-light {
    color: #0d6efd;
}

.secondary-color {
    color: #B60F35;
}

.btn {
    background-color: #002768 !important;
    border-color: #002768 !important;
    color: light;
}

.primary-bg-color {
    background-color: #002768;
}

.primary-border-color {
    border-color: #002768;
}

.primary-text-color {
    color: #ffffff;
}

.primary-bg-color:hover,
.primary-border-color:hover {
    background-color: #001f4d;
    border-color: #001f4d;
}

.logoContainerImage{
    width: 200px !important;
    height: 200px !important;

    border: 2px #001f4d  solid;
}   
.logoContainerImage img{
    width: 78% !important;
    /* margin-right: 10px !important;
    height: 40 !important; */
  

}
.imgBorder{
    border:2px #001f4d solid;
}